DATABASE_URL="postgresql://postgres:SUA_SENHA@localhost:5432/agenda_saas?schema=public"
JWT_SECRET="sua-chave-secreta-com-pelo-menos-32-caracteres-aqui"
SUPER_JWT_SECRET="sua-chave-super-admin-com-pelo-menos-32-caracteres"
ADMIN_EMAIL="admin@clinica.com.br"
ADMIN_PASSWORD="Admin@2024!"
ADMIN_NAME="Administrador"
SUPER_ADMIN_EMAIL="super@agendapro.com"
SUPER_ADMIN_PASSWORD="Super@2024!"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
